<% provide :title, t("pages.title") %>
<h2><%= t "pages.sign_in" %></h2>
<div class="container">
  <div class="card card-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <div class="col-md-2">
            <%= f.check_box :remember_me, class: "form-control left" %>
          </div>
          <div class="col-md-10">
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t("pages.sign_in"), class: "form-control btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div><!-- /card-container -->
</div><!-- /container -->
