<aside class="sidebar-left">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t "admin.bar.title" %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="sidebar-menu">
          <li><hr/></li>
          <li>
            <a href="#">
            <i class="fa fa-th"></i> <span><%= t ".dashboard" %></span>
            </a>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i>
              <span><%= t "admin.menu.users" %></span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to admin_users_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.all_users" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_user_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.all_users" %>
                <% end %>
              </li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span><%= t "admin.menu.catalogs" %></span>
            <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to admin_catalogs_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.catalogs" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_catalog_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.add_catalog" %>
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to admin_orders_path do %>
              <i class="fa fa-th"></i>
              <span><%= t "admin.menu.orders" %></span>
            <% end %>
          </li>

          <li class="treeview">
            <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span><%= t "admin.menu.payments" %></span>
            <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to admin_payments_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.payments" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_payment_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.add_payment" %>
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to admin_suggest_products_path do %>
              <i class="fa fa-th"></i>
              <span><%= t "admin.menu.suggest_products" %></span>
            <% end %>
          </li>

          <li>
            <%= link_to admin_feedbacks_path do %>
              <i class="fa fa-th"></i>
              <span><%= t "admin.menu.feedbacks" %></span>
            <% end %>
          </li>

          <li class="treeview">
            <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span><%= t "admin.menu.static_pages" %></span>
            <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to admin_static_pages_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.static_pages" %>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_static_page_path do %>
                  <i class="fa fa-circle-o"></i>
                  <%= t "admin.menu.add_static_page" %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</aside>
