<% provide :title, t("signup") %>
<h1><%= t "signup" %></h1>
<div class="container">
<%= form_tag carts_path, method: :post do %>
<%= hidden_field_tag :product_id, @product.id %>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th><%= t ".product" %></th>
      <th><%= t ".quantity" %></th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <th>
            <%= image_tag @product.image, size: 32 %>
            <%= @product.name %>
            <%= @product.content %>
          </th>
          <th>
            <%= number_field_tag :qty, 1, min: 1 %>
          </th>
          <th>
            <%= submit_tag t("submit"), class: "btn btn-primary" %>
          </th>
      </tr>
  </tbody>
</table>
<% end %>
</div>
