<footer class="container-fluid text-center">
  <p>
  <%= link_to t("pages.home"), home_path %> | <%= link_to t("pages.why_us"),
    pages_path("why-us") %> | <%= link_to t("pages.ship_cod"),
    pages_path("ship-cod") %> | <%= link_to t("pages.warning"),
    pages_path("warning") %> | <%= link_to t("pages.about_us"),
    pages_path("about-us") %>
  </p>
  <form class="form-inline"><%= t("pages.get_deals") %>
    <input type="email" class="form-control" size="50"
    placeholder="Email Address">
    <button type="button" class="btn btn-danger"><%= t("pages.sign_up") %></button>
  </form>
</footer>
