<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "user/application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "user/application", "data-turbolinks-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div id="fb-root"></div>
    <div class="container text-center">
      <div class="col-md-3">
        <%= link_to image_tag("TruongTin_Logo.png", alt: t("alt.logo"),
          class: "img-responsive logo"), root_path %>
      </div>
      <div class="col-md-9>">
        <h1><%= t "pages.company_name" %></h1>
      </div>
      <div><p><%= t "pages.sologan" %></p></div>
    </div>
  <%= render "layouts/user/header" %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <br><br>
  <%= render "layouts/user/footer" %>
  </body>
</html>
