<% provide :title, t("admin.products.index.title") %>
<h1><%= t("admin.products.index.title") %></h1>
<div class="container-fluid">
  <%= form_tag admin_products_path, method: :get do %>
    <div class="row">
      <div class="col-md-6">
        <%= text_field_tag :search, params[:search], {class: "form-control"} %>
      </div>
      <div class="col-md-2">
        <%= submit_tag t("default.search"), {class: "form-control btn-primary"} %>
      </div>
    </div>
  <% end %>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th><%= t("admin.products.index.image") %></th>
        <th><%= t("admin.products.index.product_name") %></th>
        <th><%= t("admin.products.index.quantity") %></th>
        <th><%= t("admin.products.index.viewed") %></th>
        <th><%= t("admin.products.index.tag") %></th>
        <th>#</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product, index| %>
        <tr>
            <td scope="row"><%= show_index_p index %></td>
            <td>
              <%= image_tag product.primary_image, size: Settings.default.product.image_size,
              alt: product.name, class: "gravatar" %>
            </td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.qty %></td>
            <td><%= product.viewed %></td>
            <td><%= product.tag %></td>
            <td>
              <%= link_to edit_admin_product_path product do %>
                <strong class="glyphicon glyphicon-pencil"></strong>
              <% end %>
            </td>
            <td>
              <%= link_to [:admin, product], method: :delete,
                data: {confirm: t("default.you_sure")} do %>
                <strong class="glyphicon glyphicon-trash"></strong>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @products %>
</div>
