<% provide :title, t("admin.products.create.title") %>
<h4><%= t("admin.products.create.title") %></h4>
<div class="container">
    <%= form_for [:admin, @product], multipart: true do |f| %>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :name, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :quantity %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :qty, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :tag %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :tag, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :catalog %>
        </div>
        <div class="col-md-4">
          <%= f.collection_select :catalog_id, Catalog.order_catalogs, :id, :name,
            {}, {} %>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <%= f.fields_for :images do |images_form| %>
            <%= render "image_fields", f: images_form %>
          <% end %>
          <div class="links">
            <%= link_to_add_association t("admin.products.create.add_image"), f, :images %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.submit t("admin.products.create.create_button"),
            class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-4"><h4><%= t "admin.products.import.title" %></h4></div>
      <div class="col-md-4">
        <%= link_to t("admin.products.default.link_file_download"),
          Settings.default.link_file_import_products %>
      </div>
    </div>
    <%= form_tag import_admin_products_path, multipart: true do %>
    <div class="row">
      <div class="col-md-4">
        <%= file_field_tag :file %>
      </div>
      <div class="col-md-4">
        <%= submit_tag t("admin.products.import.import_button"), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
</div>
