<% provide :title, t("admin.products.create.title") %>
<h4><%= t("admin.products.create.title") %></h4>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @product], multipart: true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.text_field :qty, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :tag %>
        <%= f.text_field :tag, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :catalog %>
        <%= f.collection_select :catalog_id, Catalog.order_catalogs, :id, :name,
          {}, {class: "form-control"} %>
      </div>
      <%= f.submit t("admin.products.create.create_button"),
        class: "btn btn-primary btn-block" %>
    <% end %>
    <h4><%= t "admin.products.import.title" %></h4>
    <div>
      <%= link_to t("admin.products.default.link_file_download"),
        Settings.default.link_file_import_products %>
    </div>
    <%= form_tag import_admin_products_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag t("admin.products.import.import_button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
