<h2><%= t("users.forgot_password_title") %></h2>
<<<<<<< HEAD
<div class="container">
  <div class="card card-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit t("users.send_reset_password"), class: "form-control btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div><!-- /card-container -->
</div><!-- /container -->
=======

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit t("users.send_reset_password") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
>>>>>>> Hot Products and Recently Products
