<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="panel panel-default">
  <div class="panel-heading"><%= t ".title" %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for [:admin,@user] do |f| %>
          <%= render "shared/error_messages" %>

          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>

          <%= f.label :phone %>
          <%= f.text_field :phone, class: "form-control" %>

          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>

          <br/>
          <div class="gravatar_edit">
            <%= image_tag @user.avatar %>
          </div>
          <br/>

          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: "form-control" %>
          <br/>
          <%= f.select :role, user_roles, {selected: @user.role},
            {class: "form-control"} %>
          <br/>
          <%= f.submit t("users.save_changes"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
