<p><%= t("users.hello") %><%= @resource.email %>!</p>

<p><%= t("users.reset_password_header_email") %></p>

<p>
  <%= link_to t("users.change_password_button"),
    edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t("users.reset_password_warning_email") %></p>
<p><%= t("users.reset_password_footer_email") %></p>
